<div class="container">
    <div class="wrapper">
        <div class="title"><span>Modify Comment</span></div>
        <form #form1="ngForm">
            <div class="form-group">
                <label for="idLabel" class="control-label">ID: {{newComment.id}}</label><br>
            </div><br>

            <div class="form-group">
                <label for="colorLabel" class="control-label">Change comment*</label><br>
                <input class="form-control" type="text" [(ngModel)]="newComment.comment" #commentText="ngModel" id="commentText" name="commentText" required>
            </div><br>

            <p>*Required fields</p>

            <div class="form-group">
                <button class="btn btn-primary" type="button" [disabled]="form1.invalid" (click)="emitInfoModifyComments()">Modify comment</button>
            </div>
        </form>
    </div>
</div>