<div class="container">
    <div class="wrapper">
        <h2 class="text-center mt-5 pt-5">Modificar comentario</h2>
        <form #form1="ngForm" class="row g-3">
            <div class="col-12">
                <div class="form-group">
                    <label for="idLabel" class="control-label">ID: {{newComment.id}}</label><br>
                </div>

                <div class="form-group">
                    <label for="colorLabel" class="control-label">Modificar comentario*</label><br>
                    <textarea class="form-control" type="text" [(ngModel)]="newComment.comment" #commentText="ngModel" id="commentText" name="commentText" required></textarea>
                </div><br>
            </div>

            <div class="col-12 text-center mb-5">
                <button class="btn btn-warning" type="button" [disabled]="form1.invalid" (click)="emitInfoModifyComments()">Modificar</button>
            </div>
        </form>
    </div>
</div>