<div class="container">
    <div class="wrapper">
        <div class="title"><span>Modify Comment {{comment.id}}</span></div>
        <form #form1="ngForm">
            <div class="form-group">
                <label for="idLabel" class="control-label">Id</label><br>
                <input class="form-control" type="number" [(ngModel)]="newComment.id" #idComment="ngModel" id="idComment" name="idComment" readonly>
            </div><br>

            <div class="form-group">
                <label for="colorLabel" class="control-label">Change comment*</label><br>
                <input class="form-control" type="text" [(ngModel)]="newComment.comment" #commentText="ngModel" id="commentText" name="commentText" required>
            </div><br>

            <div class="form-group">
                <label for="idLabel" class="control-label">Id player</label><br>
                <input class="form-control" type="text" [(ngModel)]="newComment.id_player" #id_player="ngModel" id="id_player" name="id_player" readonly>
            </div><br>

            <div class="form-group">
                <label for="idLabel" class="control-label">Created at</label><br>
                <input class="form-control" type="text" [(ngModel)]="newComment.created_at" #created_at="ngModel" id="created_at" name="created_at" readonly>
            </div><br>

            <div class="form-group">
                <label for="idLabel" class="control-label">Updated_at</label><br>
                <input class="form-control" type="text" [(ngModel)]="newComment.updated_at" #updated_at="ngModel" id="updated_at" name="updated_at" readonly>
            </div><br>

            <p>*Required fields</p>

            <div class="form-group">
                <button class="btn btn-primary" type="button" [disabled]="form1.invalid" (click)="emitInfoModifyComments()">Modify comment</button>
            </div>
        </form>
    </div>
</div>