<div class="bg-warning">
    <div class="text-white text-center">
        <h1 class="text-dark display-1 p-5 mb-5">Comments</h1>
    </div>
</div>


<div class="container text-white mt-5">
    <div class="rounded">
        <div class="owl-carousel owl-theme text-dark">
            <div class="owl-item">

            </div>
        </div>
    </div>
</div>
<div class="card d-flex flex-column" *ngFor="let item of dataComments">
    <div class="testimonial"> {{item.comment}} </div>
</div>

<div *ngIf="loggedIn" class="bg-white">
    <div *ngIf="loggedIn.role=='player'">
        <h2 class="text-center mt-5 pt-5">Añade tu comentario</h2>
        <div class="container">
            <form class="row g-3">
                <div class="col-12">
                    <div class="form-floating">
                        <textarea class="form-control" placeholder="Leave a comment here" style="height: 100px" [(ngModel)]="newComment.comment" #comment="ngModel" id="comment" name="comment"></textarea>
                        <label for="floatingTextarea2">Comments</label>
                    </div>
                </div>
                <div class="col-12 text-center mb-5">
                    <button type="submit" class="btn btn-danger mt-4" (click)="addNewComment()">Añadir</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        console.log("d")
        var silder = $(".owl-carousel");
        silder.owlCarousel({
            autoPlay: false,
            items: 1,
            center: false,
            nav: true,
            margin: 40,
            dots: false,
            loop: true,
            navText: ["<i class='fa fa-arrow-left' aria-hidden='true'></i>",
                "<i class='fa fa-arrow-right' aria-hidden='true'></i>"
            ],
            responsive: {
                0: {
                    items: 1,
                },
                575: {
                    items: 1
                },
                768: {
                    items: 2
                },
                991: {
                    items: 3
                },
                1200: {
                    items: 4
                }
            }
        });
    });
</script>