<div class="row m-0 vh-100">
    <div class="col p-0 text-center d-flex justify-content-center align-items-center login">
        <div class="text-white">
            <h1 class="display-1">Ya tienes una cuenta
            </h1>
            <p>Lorem Ipsum is simply dummy industry. </p>
            <button type="button" class="btn btn-dark">
                <a href="/login"
                    class="text-white text-decoration-none">¡Inicia sesión ahora!</a>
            </button>
        </div>
    </div>
    <div class="col p-0 bg-light d-flex justify-content-center align-items-center flex-column w-100">
        <form class="w-75" action="#">
            <p class="align-self-start">Hola kitten!</p>
            <h1 class="align-self-start">Crear una cuenta
            </h1>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre de usuario
                </label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre de usuario*"
                    required="">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Email</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="Email*"
                    required="">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña*"
                    required="">
            </div>
            <button type="button" class="btn btn-danger mt-3">Registrarse</button>
        </form>
    </div>
</div>