<div class="row vh-100">
    <div class="col d-none d-md-flex login">
        <div class="text-center align-self-center mx-auto text-white">
            <h1 class="display-1">¿Ya tienes<br> una cuenta?
            </h1>
            <button type="button" class="btn btn-dark">
                <a routerLink="/login" class="text-white text-decoration-none">¡Inicia sesión ahora!</a>
            </button>
        </div>
    </div>
    <div class="col bg-light d-flex flex-column justify-content-center align-items-center">
        <form class="w-75" [formGroup]="registerForm" action="#">
            <a routerLink="/home"><img class="mx-auto pb-5" src="assets/img/hlogo.png" width="270"></a>
            <p class="align-self-start">Hola kitten!</p>
            <h1 class="align-self-start">Crear 
                cuenta
            </h1>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre
                </label>
                <input type="text" value="Juan@gmail.com" class="form-control" id="realname" placeholder="kitten"
                    formControlName="realname" required>
                <label class="text-danger"
                    *ngIf="registerForm.get('realname')?.errors?.['required'] && registerForm.get('realname')?.dirty">
                    Nombre requerido</label>

            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nickname
                </label>
                <input type="text" class="form-control" id="nickname" placeholder="k1tten"
                    formControlName="nickname" required>
                <label class="text-danger"
                    *ngIf="registerForm.get('nickname')?.errors?.['required'] && registerForm.get('nickname')?.dirty">
                    Nickname requerido</label>
                <label class="text-danger"
                    *ngIf="registerForm.get('nickname')?.errors?.['minlength'] && registerForm.get('nickname')?.dirty">
                    Minimo 8 carácteres</label>

            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Email
                </label>
                <input type="email" class="form-control" id="email" placeholder="example@gmail.com" formControlName="email"
                    required>
                <label class="text-danger"
                    *ngIf="registerForm.get('email')?.errors?.['email'] && registerForm.get('email')?.dirty">Email no
                    válido</label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Password
                </label>
                <input type="password" class="form-control" id="passwd" placeholder="******" formControlName="passwd"
                    required>
                <label class="text-danger"
                    *ngIf="registerForm.get('passwd')?.errors?.['minlength'] && registerForm.get('passwd')?.dirty">
                    Minimo 8 carácteres</label>
                <label class="text-danger"
                    *ngIf="registerForm.get('passwd')?.errors?.['maxlength'] && registerForm.get('passwd')?.dirty">
                    Máximo 14 carácteres</label>
            </div>
            <label class="text-danger">
            {{message}}
            </label>
            <br>
            <button type="button" [disabled]="registerForm.invalid" class="btn btn-danger mt-3"
                (click)="register()">Registrarse</button>
        </form>
    </div>
</div>