#tipos-cartas>.col>a {
   color: white;
}

#tipos-cartas>.col>a:hover {
   color: #404040;
   cursor: pointer;
}

#img-titulo {
   position: absolute;
   bottom: -53px;
}

@media (max-width: 575px) {
   #img-titulo {
      height: 115px;
   }
}
@media (max-width: 467px) {
   #img-titulo {
      display:none;
   }
}

#cartas>.col>img {
   height: auto;
   width: 157.25px;
}