#tipos-cartas > .col >  a{
    font-family: sans-serif;
    color: white;
} 

#tipos-cartas > .col >  a:hover{
    color: #404040;
    cursor: pointer;
} 

#img-titulo{
    position: relative;
    bottom: 145px;
}

p{
    color: white;
}