<div id="titulo" class="container-flex p-5" style="background-color: #F28627;">
    <div class="row">
      <!-- <div class="col d-none d-sm-block">
        <img id="img-titulo" class=" float-left" src="assets/img/kiten-game.png" alt="" height="150px">
      </div> -->
      <div class="col">
        <h1 id="titulo-game" class="text-center text-dark display-1">Juego</h1>
      </div>
    </div>   
</div>

<img id="img-titulo" class="" src="assets/img/kiten-game.png" alt="" height="150px">

<!-- <div id="titulo" class="container-flex p-3" style="background-color: #F28627;">
        <h1 id="titulo-game" class="text-center text-dark display-1">Juego
            <img id="img-titulo" class=" float-left" src="assets/img/kiten-game.png" alt="" height="250px">
        </h1>
        
</div> -->

<div id="como_jugar" class="container-flex p-5">
    <h1 class="text-center text-white display-2">HOW IT WORKS</h1>

    <div class="row justify-content-center">
      <div class="col-3 order-sm-2 d-inline">
        <p class="">In the deck of cards are some Exploding Kittens. You play the game by putting the deck face down and taking turns drawing cards until someone draws an Exploding Kitten.</p>   
        <p class="mt-5">When that happens, that person explodes. They are now dead and out of the game.</p> 
      </div>   
      <div class="col-4 order-sm-3 d-inline">
        <img id="img-jugar-1" src="assets/img/como-jugar-1.webp" alt="" height="300px">
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-3">
        <p>This process continues until there’s only 1 player left, who wins the game.
          The more cards you draw, the greater your chances of drawing an Exploding Kitten.</p>            
      </div>   
      <div class="col-4">
        <img src="assets/img/como-jugar-2.png" alt="" height="100px">
      </div>
    </div>
    
</div>


    <div id="barra-game" class="container-flex">
        <!-- <img id="img-barra" class="img-fluid" src="assets/img/barra-game.png" alt="" width="100%"> -->
        <div class="row">
          <div class="col d-none d-sm-block">
            <img id="img-cartas" class="img-fluid" src="assets/img/cartas-game.png" alt="">
          </div>
          <div class="col text-center mt-4">
            <h2 id="texto" class="display-2">THESE ARE BAD!</h2>
            <h2 id="texto" class="display-2">IF YOU EXPLODE,</h2>
            <h2 id="texto" class="display-2">YOU LOSE.</h2>
          </div>
        </div>
        <div class="col d-block d-sm-none text-center">
            <img id="img-cartas" class="" src="assets/img/cartas-game.png" alt="" height="200px">
        </div>
    </div>

    <div class="container p-5">
        <h1 class="text-center display-2">Type of cards</h1>
          <div id="tipos-cartas" class="row align-items-start">
            <div class="col">
              <a class="nav-link active" href="#">Annoy</a>     
            </div>
            <div class="col">
              <a class="nav-link active" href="#">Attack</a>
            </div>
            <div class="col">
              <a class="nav-link active " href="#">Blind card</a>
            </div>
            <div class="col">
              <a class="nav-link active" href="#">Defuse</a>  
            </div>
            <div class="col">
              <a class="nav-link active" href="#">Exploding Kitten</a>  
            </div>
            <div class="col">
              <a class="nav-link active" href="#">Favor</a>  
            </div>
            <div class="col">
              <a class="nav-link active" href="#">See the future</a> 
            </div>
            <div class="col">
              <a class="nav-link active" href="#">Shuffle</a>  
            </div>
          </div>
  
          <div class="row justify-content-center">
            <div class="col-4">
              <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid">
            </div>
            <div class="col-4">
              <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid">
            </div>
          </div>
  
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
          </nav>

      </div>
          
      <!-- <script>
        gsap.to('#img-titulo', {
          duration: 2.5,
          ease: "power2.out",
          x: 300 
       });
      </script> -->
