<div id="titulo" class="container-flex p-5" style="background-color: #F28627;">
  <div class="row">
    <!-- <div class="col d-none d-sm-block">
      <img id="img-titulo" class=" float-left" src="assets/img/kiten-game.png" alt="" height="150px">
    </div> -->
    <div class="col">
      <h1 id="titulo-game" class="text-center text-dark display-1">Juego</h1>
      <img id="img-titulo" class="" src="assets/img/kiten-game.png" alt="" height="150px">
    </div>
  </div>     
 </div>
  
  
  
 <!-- <div id="titulo" class="container-flex p-3" style="background-color: #F28627;">
      <h1 id="titulo-game" class="text-center text-dark display-1">Juego
          <img id="img-titulo" class=" float-left" src="assets/img/kiten-game.png" alt="" height="250px">
      </h1>
 </div> -->
  
 <div id="como_jugar" class="container text-center p-5">
  <h1 class="text-center text-white display-2">CÓMO SE JUEGA</h1>
  
  <div class="row text-center justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-12 order-sm-2 d-inline">
      <p class="">El juego consiste en una baraja de cartas con unos
        cuantos Exploding Kitten. Para jugar, se coloca la baraja
        bocabajo y los jugadores roban cartas por turnos hasta
        que a uno de ellos le sale un Exploding Kitten.</p>  
      <p class="mt-3">Cuando esto sucede, esa persona explota.
        El jugador se muere y queda eliminado de la partida.</p>
    </div>  
    <div class="col-lg-3  col-md-4 col-sm-12 order-sm-3 d-inline">
      <img id="img-jugar-1" src="assets/img/como-jugar-1.webp" alt="" height="300px">
    </div>
  </div>
  
  <div class="row text-center justify-content-center">
    <div class="col-lg-5 col-md-5 col-sm-12 order-sm-4">
      <p>Este proceso continúa hasta que solo queda
        1 jugador, que será el ganador de la partida.
        Cuantas más cartas robes, mayores serán tus
        probabilidades de sacar un Exploding Kitten.</p>           
    </div>  
    <div class="col-lg-3 col-md-4 col-sm-12 order-sm-5">
      <img src="assets/img/como-jugar-2.png" alt="" height="100px">
    </div>
  </div>
  </div>
  
 <!-- <div id="barra-game" class="container-flex" style="background-image: url('/img/barra-game.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;";></div> -->
  <div id="barra-game" style="background-image: url('assets/img/barra-game.png'); background-repeat: no-repeat; background-size: cover; background-position: center center;"
   class="container-flex mt-5 mb-5">
      <!-- <img id="img-barra" class="img-fluid" src="assets/img/barra-game.png" alt="" width="100%"> -->
      <div class="row">
        <div class="col d-none d-sm-block">
          <img id="img-cartas" class="img-fluid" src="assets/img/cartas-game.png" alt="">
        </div>
        <div class="col text-center mt-4">
          <h2 id="texto" class="display-2">EN POCAS PALABRAS</h2>
          <h2 id="texto" class="display-2">Si explotas,</h2>
          <h2 id="texto" class="display-2">pierdes.</h2>
        </div>
      </div>
      <div class="col d-block d-sm-none text-center">
          <img id="img-cartas" class="" src="assets/img/cartas-game.png" alt="" height="200px">
      </div>
  </div>
  
  <div class="container">
      <h1 class="text-center display-2">Tipos de cartas</h1>
        <div id="tipos-cartas" class="row align-items-start">
          <div class="col">
            <a class="nav-link active" href="#">Pasar</a>    
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Ataca</a>
          </div>
          <div class="col">
            <a class="nav-link active " href="#">Blind card</a>
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Desactiva</a> 
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Exploding Kitten</a> 
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Favor</a> 
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Ver el futuro</a>
          </div>
          <div class="col">
            <a class="nav-link active" href="#">Baraja</a> 
          </div>
        </div>
  
        <!-- justify-content-center d-flex -->
        <div id="cartas" class="row pt-4 pb-4 row-cols-xs-2 row-cols-md-4">
          <div class="col">
            <!-- <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid"> -->
            <img src="assets/img/carta-atacar1.jpeg" alt="" class="mt-3 mb-3 rounded-3">
          </div>
          <div class="col">
            <!-- <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid"> -->
            <img src="assets/img/carta-atacar1.jpeg" alt="" class="mt-3 mb-3 rounded">
          </div>
          <div class="col">
            <!-- <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid"> -->
            <img src="assets/img/carta-atacar1.jpeg" alt=""class="mt-3 mb-3 rounded">
          </div>
          <div class="col">
            <!-- <img src="assets/img/tipo-cartas.png" alt="" height="400px" class="img-fluid"> -->
            <img src="assets/img/carta-atacar1.jpeg" alt=""class="mt-3 mb-3 rounded">
          </div>
        </div>
  
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
            </ul>
        </nav>
  
    </div>
