<div id="titulo" class="container-flex p-5">
  <div class="row">
    <div class="col">
      <h1 class="text-center text-dark display-1">SOBRE NOSOTROS</h1>
    </div>
  </div>
</div>

<div id="como_jugar" class="container p-5 text-white text-center">
  <h2 class="text-center  display-4">CONOCE A LOS DESAROLLADORES DEL JUEGO</h2>
  <p class=" fs-5">Somos un grupo de alumnos de segundo de Ingeniería en Sistemas de Telecomunicaciones y
    Telemática
    en la Universidad Politécnica de Cataluña. Para aprender sobre sistemas operativos y el uso de
    servidores, hemos creado este juego el cual requiere conexión con el servidor de la UPC.</p>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/fotoAna.jpeg" class="card-img-top img" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ana Gozálvez</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus
                  quis nunc fringilla.</p>
                <a href="https://github.com/anagozalvez" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/ana_gc02/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/Ines.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Ines Masllorens</h5>
                <p class="card-text">Soy de Girona pero vivo en Gavá por los
                  estudios. Me gusta leer y hacer deporte.</p>
                <a href="https://github.com/InesMasllorens" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/ines_masllorens/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/fotoLidia.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Lidia Chicano</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus
                  quis nunc fringilla.</p>
                <a href="https://github.com/lidiachicano" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/_lidiachicano_/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/fotoMario.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Mario Cerdà</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus
                  quis nunc fringilla.</p>
                <a href="https://github.com/marioRelajao" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/mario15197/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="como_jugar" class="container p-5 text-white text-center">
  <h2 class="text-center  display-4">CONOCE A LOS DESAROLLADORES WEBO</h2>
  <p class=" fs-5">Somos un equipo de alumnos de segundo en<strong>Técnico Superior en Desarrollo de
    Aplicaciones Web</strong>
  en el Instituto Provençana.
  Nuestra parte en el proyecto ha sido desarrollar la aplicación web del juego.</p>
</div>

<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 mb-5 justify-content-center">
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/fotoIncognito.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Alexander Millones</h5>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam egestas lectus
                  quis nunc fringilla.</p>
                <a href="https://github.com/AlexMillonesRojas" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/alexmillonesr/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/jordi.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Jordi Rocha</h5>
                <p class="card-text">Me considero muy motivado, muy proactivo, con capacidad para adaptarme a diferentes
                  entornos y aprendiendo nuevas tecnologías. </p>
                <a href="https://github.com/jordirocha" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="carta-box">
        <div class="carta">
          <div class="cara">
            <img src="assets/img/carta-posterior.jpeg">
          </div>
          <div class="cara detras">
            <div class="card">
              <img src="assets/img/Sandra.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Sandra Herrerias</h5>
                <p class="card-text">Estudiante DAW, INS Provençana.</p>
                <a href="https://github.com/Sandra-Herrerias" target="_blank" class="bi bi-github"></a>
                <a href="https://www.instagram.com/" target="_blank" class="bi bi-instagram"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>