<div class="overflow-hidden vh-100 d-flex align-items-center justify-content-around"
style="background-image: url('assets/img/4tXSZwCv_4x.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">

<div class="image_box">
    <img id="#cat" src="assets/img/cat.png" height="650" class="img-fluid" alt="">
</div>
<div class="image_box">
    <img id="#cat" src="assets/img/logo.png" height="750" class="img-fluid" alt="">
</div>
<div class="image_box">
    <img src="assets/img/cats.png" height="450" class="img-fluid" alt="">
</div>

<!-- <div>
    <div class="align-self-start">Aligned flex item</div>
    <div class="align-self-end">Aligned flex item</div>
    <div class="align-self-center">Aligned flex item</div>
    <div class="align-self-baseline">Aligned flex item</div>
    <div class="align-self-stretch">Aligned flex item</div>
</div> -->

<a href="">
    <img id="getWindows" height="80" src="assets/img/getwindowspng.png" alt="">
</a>

<a id="scroll" href=""><i class="bi bi-mouse fs-4"></i></a>
</div>