<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav *ngIf="(data != '/login' && data != '/register')" class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/img/hlogo.png" alt="" height="24" class="d-inline-block align-text-top">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse justify-content-between align-items-center w-100" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto text-md-center text-left">
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/welcome" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/aboutgame" routerLinkActive="active">Juego</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/aboutus" routerLinkActive="active">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/ranking_results" routerLinkActive="active">Ranking</a>
                    </li>
                    
                    <li *ngIf="!loggedIn" class="nav-item">
                        <a class="nav-item nav-link" routerLink="/comments_feedback"
                            routerLinkActive="active">Comentarios</a>
                    </li>

                    <li *ngIf="loggedIn && loggedIn.role == 'player'" class="nav-item">
                        <a class="nav-item nav-link" routerLink="/comments_feedback"
                            routerLinkActive="active">Comentarios</a>
                    </li>
                    
                    <li *ngIf="loggedIn && loggedIn.role == 'admin'" class="nav-item">
                        <a class="nav-item nav-link" routerLink="/admin_comments" routerLinkActive="active">CRUD
                            Comentarios</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/technologies" routerLinkActive="active">Tecnologias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-item nav-link" routerLink="/download" routerLinkActive="active">Descargar</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <button *ngIf="loggedIn == null" type="button" class="btn btn-danger">
                        <a class="text-white text-decoration-none" routerLink="/login">Login</a></button>
                    <a *ngIf="loggedIn" (click)="logout()"> <button type="button" class="btn btn-danger">
                            Logout</button></a>
                </form>
            </div>
        </div>
    </nav>
    <!--Charge each component enrouted-->
    <router-outlet></router-outlet>

    <!-- <nav *ngIf="(data != '/login' && data != '/register')" class="navbar-dark mt-auto bg-dark text-white">
        <br>
        <br>
        <div class=" d-flex flex-column">
            <img class="mx-auto" src="assets/img/hlogo.png" width="170">
            <br>
            <h4 *ngIf="!loggedIn" class="text-center">¿Estás lista?</h4>
            <br *ngIf="!loggedIn">
            <div *ngIf="!loggedIn" class="mx-auto">
                <button type="button" class="btn btn-danger"><a class="text-white text-decoration-none"
                        href="/register">Registrarte</a></button>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <a class="nav-link active text-white"routerLink="/welcome">Home</a>
            <a class="nav-link active text-white" routerLink="/aboutgame">Juego</a>
            <a class="nav-link active text-white" routerLink="/aboutus">Sobre nosotros</a>
            <a class="nav-link active text-white" routerLink="/ranking_results">Ranking</a>
            <a class="nav-link active text-white" routerLink="/comments_feedback">Comentarios</a>

            <a class="nav-link active text-white" routerLink="/technologies">Tecnologias</a>
            <a class="nav-link active text-white"routerLink="/download">Descargar</a>
            <a *ngIf="!loggedIn" class="nav-link active text-white" routerLink="/login">Iniciar Sesión</a>
            <a *ngIf="loggedIn" class="nav-link active text-white" (click)="logout()">Cerrar Sesión</a>
        </div>

        <div class="text-center text-muted fs-6 mt-3">
            Copyright © 2022. Exploding Kittens. All rights reserved.
        </div>
        <br>
        <br>
    </nav> -->

    <div class="container-flex">

        <footer class="text-center text-lg-start text-white" style="background-color: #212529">

            <div class=" d-flex flex-column pt-3 d-block d-sm-none ">
                <img class="mx-auto" src="assets/img/hlogo.png" width="170">
                <br>
                <h4 class="text-center">Are you ready?</h4>
                <br>
                <div class="mx-auto">
                    <button type="button" class="btn btn-danger">Login</button>
                </div>
            </div>

            <section class="p-3">
                <div class="container text-center text-md-start mt-5">
                    <div class="row mt-3">

                        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Exploding Kittens</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #c22222; height: 2px" />
                            <p>
                                Exploding Kittens es un juego de cartas rápido y divertido en el
                                que tienes que asegurar tu supervivencia ante los temibles ¡gatos explosivos!
                            </p>
                        </div>
                        <div class="col-md-2 mx-auto mb-4">
                            <h6 class="text-uppercase fw-bold">Enlaces útiles</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #c22222; height: 2px" />
                            <p>
                                <a href="/home" class="text-white">Home</a>
                            </p>
                            <p>
                                <a href="/game" class="text-white">Juego</a>
                            </p>
                            <p>
                                <a href="/aboutus" class="text-white">Sobre nosotros</a>
                            </p>
                            <p>
                                <a href="/ranking_results" class="text-white">Ranking</a>
                            </p>
                            <p>
                                <a href="/comments_feedback" class="text-white">Comentarios</a>
                            </p>
                            <p>
                                <a href="/download" class="text-white">Descargar</a>
                            </p>
                            <p>
                                <a href="/technologies" class="text-white">Tecnologias</a>
                            </p>
                        </div>

                        <div class="col-md-3 mx-auto mb-md-0 mb-4">
                            <h6 class="text-uppercase fw-bold">Contacto</h6>
                            <hr class="mb-4 mt-0 d-inline-block mx-auto"
                                style="width: 60px; background-color: #c22222; height: 2px" />
                            <p><i class="bi bi-house-door-fill"></i> c/ Sant Pius X, núm 8. 08901 - L'Hospitalet de
                                LLobregat.</p>
                            <p><i><img src="assets/img/Envelope-icon.svg" alt="" height="12px"></i> info@example.com</p>
                            <p><i class="bi bi-telephone-fill"></i> + 01 234 567 88</p>
                            <p><i class="bi bi-telephone-fill"></i> + 01 234 567 89</p>
                        </div>

                    </div>
                </div>
            </section>

            <div class="text-center pb-3 text-muted" style="background-color: #212529">
                Copyright © 2022. Exploding Kittens. All rights reserved.
            </div>

        </footer>

    </div>

</body>

</html>