<div class="row m-0 vh-100">
    <div class="col p-0 bg-light d-flex justify-content-center align-items-center flex-column w-100">
        <form class="w-75" action="#">
            <p class="align-self-start">¡Bienvenido de nuevo!
            </p>
            <h1 class="align-self-start">Ingrese a su cuenta
            </h1>
            <br>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Nombre de usuario
                </label>
                <input type="text" class="form-control" name="user" [(ngModel)]="username" #user="ngModel"
                    placeholder="Usuario*" required>
                <div *ngIf="user.invalid && user.dirty" class="invalid-feedback">
                    Name Type is required
                </div>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="exampleFormControlInput2" placeholder="Contraseña*"
                    required="">
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Recordarme
                        </label>
                    </div>
                </div>
            </div>
            <button type="button" class="btn btn-danger mt-3">Iniciar sesión</button>
        </form>
    </div>
    <div class="col p-0 text-center d-flex justify-content-center align-items-center login">
        <div class="text-white">
            <h1 class="display-1">Todavía no tienes<br> cuenta? </h1>
            <p>Lorem Ipsum is simply dummy industry. </p>
            <button type="button" class="btn btn-dark"><a href="/register"
                    class="text-white text-decoration-none">¡Regístrate ahora!</a> </button>
        </div>
    </div>
</div>